In [88]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re
import nltk
from nltk.tokenize import word_tokenize

In [89]:
!dir

 Volume in drive D is Data
 Volume Serial Number is 86AA-243D

 Directory of d:\Binar Academy - Data Science\challenge_platinum\challenge_platinum_binar_academy\collabs_result

07/03/2023  13:05    <DIR>          .
07/03/2023  12:49    <DIR>          ..
07/03/2023  12:47            26.265 app.py
01/03/2023  14:54            83.478 challenge_platinum.ipynb
07/03/2023  12:44             1.731 function_script.py
25/02/2023  20:41        61.005.360 sentiment_analysis_model_challenge.h5
07/03/2023  11:43        25.879.240 sentiment_analysis_model_CNN_challenge.h5
07/03/2023  11:55    <DIR>          templates
01/03/2023  09:52           221.297 test_data.csv
01/03/2023  09:52         1.989.823 train_data.csv
16/02/2023  19:18         2.186.718 train_preprocess.tsv.txt
07/03/2023  12:44    <DIR>          __pycache__
               8 File(s)     91.393.912 bytes
               4 Dir(s)  157.581.459.456 bytes free

In [90]:
df_train = pd.read_csv("train_data.csv")
df_test = pd.read_csv("test_data.csv")

In [91]:
df_train

                                                 tweets    labels
0     tempat yang nyaman untuk berkumpul dengan tema...  positive
1     memang banyak bacot sih , omongan doang gede b...  negative
2     buat yang berkunjung ke bandung , yang ingin m...  positive
3     restoran menyajikan makanan khas sunda yang en...  positive
4     kalau travelling ke bandung , wajib makan bata...  positive
...                                                 ...       ...
9895  warung nasi ampera memiliki konsep rumah makan...  positive
9896  mbak della sangat baik dan ramah , makanna nya...  positive
9897  suasana nya sangat romantis jika makan malam d...  positive
9898  masyarakat tidak kecewa jika dipimpin oleh jok...  positive
9899  mau itu pak ridwan kamil atau pak dedi mulyadi...  positive

[9900 rows x 2 columns]

In [92]:
df_test

                                                 tweets    labels
0     nasi liwet asep stroberi 1 yang terletak di ja...  positive
1               tolong dipercepat lagi pengiriman nya .  negative
2     handphone saya lenovo , kecemplung di comberan...  positive
3     ini suki and barbeque versi murah meriah . lum...  positive
4     mau melihat bandung dari atas ? nah ini tempat...  positive
...                                                 ...       ...
1095  mau petik stroberi nya tetapi ternyata sedang ...  positive
1096  yang benar saja masa nomer whatsapp saya di bl...  negative
1097  food court yang memiliki berbagai macam piliha...  positive
1098         gorengan basi dihidangkan , selera murahan  negative
1099               negara indonesia terancam bangkrut .  negative

[1100 rows x 2 columns]

In [93]:
print(df_train, df_test)

                                                 tweets    labels
0     tempat yang nyaman untuk berkumpul dengan tema...  positive
1     memang banyak bacot sih , omongan doang gede b...  negative
2     buat yang berkunjung ke bandung , yang ingin m...  positive
3     restoran menyajikan makanan khas sunda yang en...  positive
4     kalau travelling ke bandung , wajib makan bata...  positive
...                                                 ...       ...
9895  warung nasi ampera memiliki konsep rumah makan...  positive
9896  mbak della sangat baik dan ramah , makanna nya...  positive
9897  suasana nya sangat romantis jika makan malam d...  positive
9898  masyarakat tidak kecewa jika dipimpin oleh jok...  positive
9899  mau itu pak ridwan kamil atau pak dedi mulyadi...  positive

[9900 rows x 2 columns]                                                  tweets    labels
0     nasi liwet asep stroberi 1 yang terletak di ja...  positive
1               tolong dipercepat lagi pengiriman nya .  negative
2     handphone saya lenovo , kecemplung di comberan...  positive
3     ini suki and barbeque versi murah meriah . lum...  positive
4     mau melihat bandung dari atas ? nah ini tempat...  positive
...                                                 ...       ...
1095  mau petik stroberi nya tetapi ternyata sedang ...  positive
1096  yang benar saja masa nomer whatsapp saya di bl...  negative
1097  food court yang memiliki berbagai macam piliha...  positive
1098         gorengan basi dihidangkan , selera murahan  negative
1099               negara indonesia terancam bangkrut .  negative

[1100 rows x 2 columns]

In [94]:
def cleansing(text):
    # Make sentence being lowercase
    text = text.lower()

    # Remove user, rt, \n, retweet, \t, url, xd
    pattern_1 = r'(user|retweet|\\t|\\r|url|xd)'
    text = re.sub(pattern_1, '', text)

    # Remove mention
    pattern_2 = r'@[^\s]+'
    text = re.sub(pattern_2, '', text)

    # Remove hashtag
    pattern_3 = r'#([^\s]+)'
    text = re.sub(pattern_3, '', text)

    # Remove general punctuation, math operation char, etc.
    pattern_4 = r'[\,\@\*\_\-\!\:\;\?\'\.\"\)\(\{\}\<\>\+\%\$\^\#\/\`\~\|\&\|]'
    text = re.sub(pattern_4, ' ', text)

    # Remove single character
    pattern_5 = r'\b\w{1,3}\b'
    text = re.sub(pattern_5, '', text)

    # Remove emoji
    pattern_6 = r'\\[a-z0-9]{1,5}'
    text = re.sub(pattern_6, '', text)

    # Remove digit character
    pattern_7 = r'\d+'
    text = re.sub(pattern_7, '', text)

    # Remove url start with http or https
    pattern_8 = r'(https|https:)'
    text = re.sub(pattern_8, '', text)

    # Remove (\); ([); (])
    pattern_9 = r'[\\\]\[]'
    text = re.sub(pattern_9, '', text)

    # Remove character non ASCII
    pattern_10 = r'[^\x00-\x7f]'
    text = re.sub(pattern_10, '', text)

    # Remove character non ASCII
    pattern_11 = r'(\\u[0-9A-Fa-f]+)'
    text = re.sub(pattern_11, '', text)

    # Remove multiple whitespace
    pattern_12 = r'(\s+|\\n)'
    text = re.sub(pattern_12, ' ', text)
    
    # Remove whitespace at the first and end sentences
    text = text.rstrip()
    text = text.lstrip()
    return text

def tokenisasi(text):
    tokens = nltk.tokenize.word_tokenize(text)
    return tokens

In [95]:
df_train['clean_tweets'] = df_train['tweets'].apply(cleansing)
df_test['clean_tweets'] = df_test['tweets'].apply(cleansing)

In [96]:
df_train['word_tokens'] = df_train['clean_tweets'].apply(tokenisasi)
df_test['word_tokens'] = df_test['clean_tweets'].apply(tokenisasi)

In [97]:
df_train[['clean_tweets']][0:10]

                                        clean_tweets
0  tempat yang nyaman untuk berkumpul dengan tema...
1  memang banyak bacot omongan doang gede bocah k...
2  buat yang berkunjung bandung yang ingin mencob...
3  restoran menyajikan makanan khas sunda yang en...
4  kalau travelling bandung wajib makan batagor r...
5      mengurus kampung menata kota demiz demul ahli
6  menyajikan aneka macam ikan bakar disajikan de...
7  terletak jalan cipaganti bandung seberang bens...
8  jokowi adalah satu satunya presiden yang tidak...
9                                      alhamdulillah

## One Hot Encoding

In [98]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

df_train['label_encode'] = le.fit_transform(df_train['labels'])

display(df_train.head())

print(df_train.dtypes)

,tweets,labels,clean_tweets,word_tokens,label_encode
0,tempat yang nyaman untuk berkumpul dengan tema...,positive,tempat yang nyaman untuk berkumpul dengan tema...,"[tempat, yang, nyaman, untuk, berkumpul, denga...",2
1,"memang banyak bacot sih , omongan doang gede b...",negative,memang banyak bacot omongan doang gede bocah k...,"[memang, banyak, bacot, omongan, doang, gede, ...",0
2,"buat yang berkunjung ke bandung , yang ingin m...",positive,buat yang berkunjung bandung yang ingin mencob...,"[buat, yang, berkunjung, bandung, yang, ingin,...",2
3,restoran menyajikan makanan khas sunda yang en...,positive,restoran menyajikan makanan khas sunda yang en...,"[restoran, menyajikan, makanan, khas, sunda, y...",2
4,"kalau travelling ke bandung , wajib makan bata...",positive,kalau travelling bandung wajib makan batagor r...,"[kalau, travelling, bandung, wajib, makan, bat...",2

tweets          object
labels          object
clean_tweets    object
word_tokens     object
label_encode     int32
dtype: object

In [99]:
df_train.isna().sum()

tweets          0
labels          0
clean_tweets    0
word_tokens     0
label_encode    0
dtype: int64

In [100]:
# Menggabungkan setiap elemen dalam kolom 'word_tokens' menjadi satu string
df_train['string_tokens'] = df_train['word_tokens'].apply(' '.join)

In [101]:
df_train

,tweets,labels,clean_tweets,word_tokens,label_encode,string_tokens
0,tempat yang nyaman untuk berkumpul dengan tema...,positive,tempat yang nyaman untuk berkumpul dengan tema...,"[tempat, yang, nyaman, untuk, berkumpul, denga...",2,tempat yang nyaman untuk berkumpul dengan tema...
1,"memang banyak bacot sih , omongan doang gede b...",negative,memang banyak bacot omongan doang gede bocah k...,"[memang, banyak, bacot, omongan, doang, gede, ...",0,memang banyak bacot omongan doang gede bocah k...
2,"buat yang berkunjung ke bandung , yang ingin m...",positive,buat yang berkunjung bandung yang ingin mencob...,"[buat, yang, berkunjung, bandung, yang, ingin,...",2,buat yang berkunjung bandung yang ingin mencob...
3,restoran menyajikan makanan khas sunda yang en...,positive,restoran menyajikan makanan khas sunda yang en...,"[restoran, menyajikan, makanan, khas, sunda, y...",2,restoran menyajikan makanan khas sunda yang en...
4,"kalau travelling ke bandung , wajib makan bata...",positive,kalau travelling bandung wajib makan batagor r...,"[kalau, travelling, bandung, wajib, makan, bat...",2,kalau travelling bandung wajib makan batagor r...
...,...,...,...,...,...,...
9895,warung nasi ampera memiliki konsep rumah makan...,positive,warung nasi ampera memiliki konsep rumah makan...,"[warung, nasi, ampera, memiliki, konsep, rumah...",2,warung nasi ampera memiliki konsep rumah makan...
9896,"mbak della sangat baik dan ramah , makanna nya...",positive,mbak della sangat baik ramah makanna juga enak...,"[mbak, della, sangat, baik, ramah, makanna, ju...",2,mbak della sangat baik ramah makanna juga enak...
9897,suasana nya sangat romantis jika makan malam d...,positive,suasana sangat romantis jika makan malam sini ...,"[suasana, sangat, romantis, jika, makan, malam...",2,suasana sangat romantis jika makan malam sini ...
9898,masyarakat tidak kecewa jika dipimpin oleh jok...,positive,masyarakat tidak kecewa jika dipimpin oleh jok...,"[masyarakat, tidak, kecewa, jika, dipimpin, ol...",2,masyarakat tidak kecewa jika dipimpin oleh jok...
9899,mau itu pak ridwan kamil atau pak dedi mulyadi...,positive,ridwan kamil atau dedi mulyadi kita dukung kal...,"[ridwan, kamil, atau, dedi, mulyadi, kita, duk...",2,ridwan kamil atau dedi mulyadi kita dukung kal...

In [102]:
df_train_copy = df_train.copy()
df_train_copy.drop(columns=["tweets", "labels"], inplace=True)

## LSTM

In [171]:
from keras.preprocessing.text import Tokenizer
from keras.utils import pad_sequences

sentences = df_train_copy['word_tokens'].to_list()
MAX_NB_WORDS = 50000
MAX_SEQUENCE_LENGTH = 250
EMBEDDING_DIM = 100
tokenizer = Tokenizer(num_words=MAX_NB_WORDS)
tokenizer.fit_on_texts(sentences)
word_index = tokenizer.word_index
print('Found %s unique tokens.' % len(word_index))

X = tokenizer.texts_to_sequences(sentences)
X = pad_sequences(X, maxlen=MAX_SEQUENCE_LENGTH)
print('Shape of Data Tensor : ', X.shape)

Found 14930 unique tokens.
Shape of Data Tensor :  (9900, 250)

In [172]:
Y = pd.get_dummies(df_train_copy['label_encode']).values
print('Shape of Label Tensor : ', Y.shape)

Shape of Label Tensor :  (9900, 3)

In [173]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.10, random_state=42)
print(X_train.shape, Y_train.shape)
print(X_test.shape, Y_test.shape)

(8910, 250) (8910, 3)
(990, 250) (990, 3)

In [174]:
from keras.models import Sequential
from keras.layers import Embedding, SpatialDropout1D, LSTM, Dense

model = Sequential()
model.add(Embedding(MAX_NB_WORDS, EMBEDDING_DIM, input_length=X.shape[1]))
model.add(SpatialDropout1D(0.2))
model.add(LSTM(100, dropout=0.2, recurrent_dropout=0.2))
model.add(Dense(3, activation='softmax'))
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

epochs = 2
batch_size = 64

model.fit(X_train, Y_train, epochs=epochs, batch_size=batch_size, validation_split=0.1)

Epoch 1/2
126/126 [==============================] - 158s 1s/step - loss: 0.6494 - accuracy: 0.7255 - val_loss: 0.4731 - val_accuracy: 0.7924
Epoch 2/2
126/126 [==============================] - 146s 1s/step - loss: 0.3217 - accuracy: 0.8828 - val_loss: 0.3603 - val_accuracy: 0.8620

In [175]:
y_pred = model.predict(X_test)
y_pred.shape

31/31 [==============================] - 5s 156ms/step

(990, 3)

In [176]:
import numpy as np

y_pred_labels = np.argmax(y_pred, axis=1)
print(y_pred_labels)

[2 0 2 2 2 2 0 2 0 2 0 2 0 0 0 2 2 2 2 2 2 2 2 1 0 0 2 0 0 2 0 2 2 2 2 2 1
 2 1 2 0 0 2 2 0 2 2 2 2 1 0 2 2 0 1 2 0 2 0 2 2 2 1 1 2 2 2 2 2 0 2 1 2 2
 0 2 0 1 2 0 2 1 2 2 2 2 0 2 0 1 0 0 2 2 2 0 2 0 2 1 2 0 2 2 1 2 2 2 1 0 2
 2 0 2 2 2 0 2 2 2 2 2 2 2 0 2 0 2 2 2 1 2 2 0 2 2 2 0 2 0 2 2 2 0 1 2 2 2
 2 2 2 0 2 2 2 2 2 2 2 0 2 2 2 1 2 2 2 0 1 2 2 2 2 2 2 1 1 2 1 0 2 0 2 2 0
 2 2 0 2 2 0 2 2 2 1 0 2 1 2 2 2 2 0 2 0 0 2 2 2 1 2 2 2 2 2 2 0 2 2 2 2 2
 1 2 0 2 2 0 0 0 2 2 2 0 2 2 1 2 0 2 0 2 2 1 0 2 0 0 2 2 2 0 2 1 1 1 2 2 2
 2 2 1 2 0 1 2 0 2 0 1 2 2 2 2 0 2 0 1 1 2 0 2 2 2 2 2 0 0 2 2 1 2 0 0 2 2
 2 2 0 2 2 2 2 0 2 0 0 2 1 2 0 2 2 0 2 1 0 2 2 2 0 1 2 2 0 0 0 2 0 2 2 2 0
 0 2 0 0 2 2 2 0 2 2 0 0 0 0 2 2 0 0 2 2 2 2 1 2 2 2 2 2 2 2 2 2 1 2 0 0 2
 2 0 2 2 2 0 2 0 1 2 2 0 1 2 2 0 2 2 2 0 2 2 0 2 2 0 2 1 2 1 0 2 2 2 2 2 0
 1 2 0 0 0 2 2 2 2 0 0 2 0 2 2 2 2 1 2 0 2 0 2 2 2 2 2 0 2 0 1 1 1 2 2 0 2
 0 2 1 2 0 0 0 0 2 0 2 2 2 1 0 0 1 0 0 1 0 0 0 2 2 2 2 2 0 0 2 2 0 2 2 2 0
 2 2 2 0 0 0 2 2 2 2 0 0 2 0 0 0 1 2 0 2 2 0 0 1 1 2 0 0 2 0 2 0 2 1 0 0 1
 0 2 2 2 2 0 2 2 0 1 2 0 0 2 2 1 2 2 0 0 2 2 2 2 0 0 2 2 2 2 2 2 2 0 0 0 2
 2 2 0 2 0 2 2 2 2 2 2 0 0 2 2 2 0 2 1 2 2 0 0 0 2 2 2 2 0 2 2 2 0 1 1 1 0
 2 2 2 1 2 2 2 1 2 0 0 2 1 2 0 2 2 0 2 0 0 1 0 2 2 2 2 2 2 1 0 2 1 2 0 2 1
 0 2 2 0 1 2 2 2 1 2 2 1 2 2 2 0 2 1 0 0 0 0 2 2 1 1 2 0 2 2 2 2 2 2 2 2 2
 2 2 1 1 0 0 2 2 2 0 2 2 1 2 2 0 2 2 2 0 2 1 2 2 0 2 0 2 0 2 2 2 1 2 2 0 2
 2 0 1 2 0 2 1 0 2 2 0 2 0 0 1 0 2 2 2 0 2 0 2 0 2 2 2 1 2 0 2 2 0 2 2 2 0
 0 2 2 0 2 0 2 2 2 2 2 2 2 2 2 2 2 0 1 2 2 1 2 0 2 0 2 0 0 2 2 2 0 0 0 1 2
 0 1 0 1 0 2 2 2 2 2 2 2 2 2 2 0 2 0 2 0 2 2 2 2 2 0 1 2 0 2 2 2 2 2 0 2 0
 2 2 2 0 2 0 2 2 0 0 2 2 0 0 1 2 2 2 2 2 2 2 2 0 2 0 2 1 2 2 2 0 1 2 2 2 0
 2 2 0 2 0 2 0 2 2 2 0 0 0 0 2 2 0 2 2 2 0 2 0 1 0 0 2 0 2 2 2 0 1 0 0 2 2
 0 0 0 2 1 2 2 1 2 0 2 2 0 2 2 0 0 2 1 2 2 2 2 2 0 2 2 2 2 2 2 2 2 2 2 0 2
 2 0 1 0 0 2 2 2 0 0 0 2 1 1 0 1 2 0 0 2 2 2 0 2 0 0 2 2 2 2 2 2 2 0 2 1 0
 0 2 2 0 0 2 2 2 2 1 2 0 0 2 2 2 0 2 1 2 2 0 2 0 2 0 0 2]

In [177]:
from sklearn.metrics import accuracy_score

y_pred_classes = np.argmax(y_pred, axis=1)
Y_test_classes = np.argmax(Y_test, axis=1)
accuracy = accuracy_score(Y_test_classes, y_pred_classes)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 87.98%

In [178]:
from sklearn.metrics import classification_report

y_pred_classes = np.argmax(y_pred, axis=1)
Y_test_classes = np.argmax(Y_test, axis=1)
print(classification_report(Y_test_classes, y_pred_classes))

              precision    recall  f1-score   support

           0       0.85      0.83      0.84       303
           1       0.74      0.79      0.77       101
           2       0.92      0.92      0.92       586

    accuracy                           0.88       990
   macro avg       0.84      0.85      0.84       990
weighted avg       0.88      0.88      0.88       990

## Save Model

In [179]:
model.save("sentiment_analysis_model_challenge.h5")

## Cara menggunakan model kembali dengan load model

In [161]:
import pandas as pd
from keras.preprocessing.text import Tokenizer
from keras.models import load_model

# load data baru
df_new = pd.read_csv("test_data.csv")
df_new = df_new.applymap(cleansing)
# df_new = df_new.applymap(remove_stopwords)

# drop kolom label
df_new.drop(columns=['labels'], inplace=True)

sentences = df_new['tweets'].to_list()

# lakukan preprocessing pada data baru
tokenizer = Tokenizer(num_words=MAX_NB_WORDS)
tokenizer.fit_on_texts(sentences)
X_new = tokenizer.texts_to_sequences(sentences)
X_new = pad_sequences(X_new, maxlen=MAX_SEQUENCE_LENGTH)

loaded_model = load_model("sentiment_analysis_model_challenge.h5")

# lakukan prediksi pada data baru
y_prob = loaded_model.predict(X_new)
y_pred = y_prob.argmax(axis=-1)

# konversi nilai prediksi menjadi label sentimen
labels = {0: "negative", 1: "neutral", 2: "positive"}
df_new["label_sentimen"] = [labels[pred] for pred in y_pred]

35/35 [==============================] - 5s 120ms/step

In [113]:
df_new

                                                 tweets label_sentimen
0     nasi liwet asep stroberi yang terletak jalan n...       positive
1                     tolong dipercepat lagi pengiriman       negative
2     handphone saya lenovo kecemplung comberan ming...       positive
3     suki barbeque versi murah meriah lumayan bange...       positive
4     melihat bandung dari atas tempat walaupun harg...       positive
...                                                 ...            ...
1095  petik stroberi tetapi ternyata sedang tidak mu...       positive
1096  yang benar saja masa nomer whatsapp saya blok ...       positive
1097  food court yang memiliki berbagai macam piliha...       positive
1098           gorengan basi dihidangkan selera murahan       negative
1099                 negara indonesia terancam bangkrut       negative

[1100 rows x 2 columns]

## Cara menggunakan kembali model yang telah dibuat (load model)

In [115]:
import pandas as pd
from keras.preprocessing.text import Tokenizer
from keras.models import load_model

# load data baru
df_new = pd.read_csv("data.csv", encoding='latin-1')
df_new['Tweet'] = df_new['Tweet'].apply(cleansing)
# df_new['Tweet'] = df_new['Tweet'].apply(remove_stopwords)

sentences = df_new['Tweet'].to_list()

# lakukan preprocessing pada data baru
tokenizer = Tokenizer(num_words=MAX_NB_WORDS)
tokenizer.fit_on_texts(sentences)
X_new = tokenizer.texts_to_sequences(sentences)
X_new = pad_sequences(X_new, maxlen=MAX_SEQUENCE_LENGTH)

loaded_model = load_model("D:\Binar Academy - Data Science\challenge_platinum\challenge_platinum_binar_academy\sentiment_analysis_model_challenge.h5")

# lakukan prediksi pada data baru
y_prob = loaded_model.predict(X_new)
y_pred = y_prob.argmax(axis=-1)

# konversi nilai prediksi menjadi label sentimen
labels = {0: "negative", 1: "neutral", 2: "positive"}
df_new["label_sentimen"] = [labels[pred] for pred in y_pred]

412/412 [==============================] - 53s 127ms/step

In [116]:
df_tweet_predict = pd.DataFrame({"Tweet": df_new['Tweet'],
                           "Label": df_new['label_sentimen']
                        })
df_tweet_predict.head()

                                               Tweet     Label
0  disaat semua cowok berusaha melacak perhatian ...  positive
1  siapa yang telat ngasih edan sarap bergaul den...  positive
2  kadang berfikir kenapa tetap percaya pada tuha...  positive
3                 matamu sipit tapi diliat dari mana  negative
4  kaum cebong kapir udah keliatan dongoknya dari...  negative

In [117]:
df_tweet_predict

                                                   Tweet     Label
0      disaat semua cowok berusaha melacak perhatian ...  positive
1      siapa yang telat ngasih edan sarap bergaul den...  positive
2      kadang berfikir kenapa tetap percaya pada tuha...  positive
3                     matamu sipit tapi diliat dari mana  negative
4      kaum cebong kapir udah keliatan dongoknya dari...  negative
...                                                  ...       ...
13164    jangan asal ngomong ndasmu congor sekate anjyng  negative
13165                             kasur mana enak kunyuk  negative
13166                          hati hati bisu bosan huft  negative
13167  yang real mudah terdeteksi yang terkubur suatu...  negative
13168              mana situ ngasih cuma foto kutil onta  positive

[13169 rows x 2 columns]

In [118]:
df_tweet_predict['Label'].unique()

array(['positive', 'negative', 'neutral'], dtype=object)

## CNN

In [169]:
import tensorflow as tf
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

# Load data
#data = pd.read_csv("train_preprocess.tsv.txt", sep="\t", engine="python", names=["data", "label"])
sentences = df_train['word_tokens'].to_list()
labels = df_train['label_encode']



# Convert labels to numeric values
#label_dict = {"negative": 0, "neutral": 1, "positive": 2}
#labels = np.array([label_dict[label] for label in labels])
#labels = np.array([labels])

# Tokenize data
tokenizer = tf.keras.preprocessing.text.Tokenizer()
tokenizer.fit_on_texts(sentences)
word_index = tokenizer.word_index
vocab_size = len(word_index) + 1
sequences = tokenizer.texts_to_sequences(sentences)
padded_sequences = tf.keras.preprocessing.sequence.pad_sequences(sequences, maxlen=250)

# Split data into training and testing sets
X_train, X_test, Y_train, Y_test = train_test_split(padded_sequences, labels, test_size=0.2)

# One-hot encode the labels
Y_train = tf.keras.utils.to_categorical(Y_train, 3)
Y_test = tf.keras.utils.to_categorical(Y_test, 3)

# Define the model architecture
model = tf.keras.Sequential([
    tf.keras.layers.Embedding(input_dim=vocab_size, output_dim=128, input_length=250),
    tf.keras.layers.Conv1D(64, 5, activation='relu'),
    tf.keras.layers.MaxPooling1D(5),
    tf.keras.layers.Flatten(),
    tf.keras.layers.Dense(64, activation='relu'),
    tf.keras.layers.Dense(3, activation='softmax')
])

# Compile the model
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

# Train the model
batch_size = 32
epochs = 2
history = model.fit(X_train, Y_train, epochs=epochs, batch_size=batch_size, validation_data=(X_test, Y_test))

# Evaluate the model on test set
test_loss, test_acc = model.evaluate(X_test, Y_test, verbose=2)
print("Test accuracy:", test_acc)

Epoch 1/2
248/248 [==============================] - 32s 122ms/step - loss: 0.6087 - accuracy: 0.7372 - val_loss: 0.4606 - val_accuracy: 0.8106
Epoch 2/2
248/248 [==============================] - 32s 131ms/step - loss: 0.3335 - accuracy: 0.8784 - val_loss: 0.3973 - val_accuracy: 0.8566
62/62 - 3s - loss: 0.3973 - accuracy: 0.8566 - 3s/epoch - 49ms/step
Test accuracy: 0.8565656542778015

In [170]:
model.save("sentiment_analysis_model_CNN_challenge.h5")

Feedforward Neural Network

In [6]:
import pandas as pd
import tensorflow as tf
from tensorflow import keras
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

# load dataset
data = pd.read_csv('train_data.csv')

# split dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(data['tweets'], data['labels'], test_size=0.2, random_state=42)

# encode labels
encoder = LabelEncoder()
y_train = encoder.fit_transform(y_train)
y_test = encoder.transform(y_test)

# tokenize text data
tokenizer = Tokenizer(num_words=5000)
tokenizer.fit_on_texts(X_train)
X_train = tokenizer.texts_to_sequences(X_train)
X_test = tokenizer.texts_to_sequences(X_test)

# pad sequences
max_len = 100
X_train = pad_sequences(X_train, maxlen=max_len)
X_test = pad_sequences(X_test, maxlen=max_len)

# define model
model = keras.Sequential([
     keras.layers.Embedding(input_dim=5000, output_dim=64, input_length=max_len),
     keras.layers.Flatten(),
     keras.layers.Dense(64, activation='relu'),
     keras.layers.Dense(1, activation='sigmoid')
])

# compile model
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

# train model
model.fit(X_train, y_train, epochs=10, validation_data=(X_test, y_test))

# evaluate model
test_loss, test_acc = model.evaluate(X_test, y_test)
print('Test Loss:', test_loss)
print('Test Accuracy:', test_acc)

KeyError: 'text'